body{
    height: 90vh;
    width:90vw;
}

.stats-container{
    position:relative;
    display: inline-block;
    height: 30vw;
    width: 30vw;
    float:right;
    left: 5vw;
    top: 10vw;
}

.label{
    position:relative;
    color:black;
    font-weight:bold;
    font-size: 2vw;
    font-family: serif;
    text-align: center;
    text-shadow:black;
    text-transform: uppercase;
    letter-spacing: 1rem;
    width:100%;
    padding-bottom:5px;
}

.o-wins-val,.games-played-val, .x-wins-val{
    color:white;
    font-family:serif;
    text-align:center;
    display:block;
    margin:auto 0;
    font-size: 2.5vw;
}

#reset-game{
    text-align:center;
    background-color:transparent;
    border:none;
}
