body{
    height: 90vh;
    width:90vw;
}

.stats-container{
    position:relative;
    height:46%;
    width:12%;
    float:right;
    no-repeat center center fixed;
    background-size: cover;
    left:186px;
    bottom:37px;
    display:block;
    color:white;


}

.label{
    position:relative;
    color:red;
    font-weight:bold;
    font-size: 35px;
    font-family: serif;
    line-height:200%;
    display:inline;
    margin:auto;
    text-align: center;
}

.o-wins-val,.games-played-val, .x-wins-val{
    color:red;
    font-family:serif;
    text-align:center;
    display:inline;
    font-size:25px;
}

#reset-game{
    background-color:black;
    text-align:center;
}
