body{
    height: 90vh;
    width:90vw;
}

.stats-container{
    position:relative;
    height:46%;
    width:12%;
    float:right;
    right:-85px;
}

.label{
    position:relative;
    color:black;
    font-weight:bold;
    font-size: 35px;
    font-family: serif;
    text-align: center;
    text-shadow:black;
    text-transform: uppercase;
    letter-spacing: 1rem;
    width:100%;
    padding-bottom:5px;
}

.o-wins-val,.games-played-val, .x-wins-val{
    color:white;
    font-family:serif;
    text-align:center;
    display:block;
    margin:auto 0;
    font-size:55px;
}

#reset-game{
    text-align:center;
    background-color:transparent;
    border:none;
}
