body{
    background-color: black;
}

.page-wrapper
{
    background-image:url("images/darthvaderred.jpg");
    background-repeat : no-repeat;
    background-size: cover;
    width: 96vw;
    height: inherit;
    margin: 0 auto;
}

#sound-board
{
    display: none;
}

.header
{
    width: 100%;
    height: 10vw;
}

.bottom-half
{
    width: 100%;
    display: inline-block;
}

.game-area{
    display: inline-block;
    width: 48vw;
    height: 48vw;
    top: 12.0vw;
    float: left;
    margin-left: 2vw;
}
.stats-container{
    display: inline-block;
    height: 40vw;
    width: 30vw;
    float: right;
    margin-right: 2vw;
}

.empty-square{
    border:.3vw ridge red;
    box-sizing: border-box;
    display:inline-block;
    background-color: transparent;
    /*width:28%;*/
    /*height:32%;*/
    /*margin:.1vw;*/

}
p{
    color:white;
    font-size:20px;
}
.empty-square img {
    max-width:100%;
    max-height:100%;
}

h2{
    color:red;
    font-size:80px;
    float:right;
    font-family: serif;
    text-shadow: 5px 12px black;
    position:relative;
    top: 2vw;
}

.stats {
    color: red;
    font-size: 80px;
    float: right;
    left: 200px;
    font-family: serif;
    text-shadow: 5px 12px black;
    position: relative;
}
@-webkit-keyframes bounce {
    0%       { bottom:5px; }
    25%, 75% { bottom:15px; }
    50%      { bottom:20px; }
    100%     {bottom:0;}
}

@keyframes neonspark  {
    0% { text-shadow: none; }
    30% { text-shadow: 0 0 30px rgba(255,0,84,0.6); }
    60% {
        text-shadow: 0 0 30px rgba(255,0,84,0.6),
        0 0 60px rgba(255,0,84,0.4);
    }
    80% { text-shadow: none; }
    100% {
        text-shadow: 0 0 30px rgba(255,0,84,0.6),
        0 0 60px rgba(255,0,84,0.4),
        0 0 100px rgba(255,0,84,0.2),
        0 0 90px rgba(255,0,84,0.1);
    }

}

#neon-tubing {
    /*padding: 6rem;*/
    padding: 0;
    text-align: center;
    color: rgba(255,200,200,0.8);
    font-family: serif;
    background-size: cover;
}

.neon-tubing {
    margin: 0;
    font-weight: 100;
    background-image: radial-gradient(ellipse farthest-corner,rgba(0,0,0,0),rgba(0,0,0,0));
    text-align: center;
    font-family: serif;
    color: #fee;
    /*padding: 4rem;*/
    text-transform: uppercase;
    font-size: 5vw;
    letter-spacing: 2rem;
    animation: neonspark 1s 3s forwards;
    text-shadow:
    0 0 20px rgba(255,0,84,0.6),
    0 0 40px rgba(255,0,84,0.4),
    0 0 60px rgba(255,0,84,0.2),
    0 0 80px rgba(255,0,84,0.1);
}

*:focus {
    outline: none;
}
.neon {
    margin: 0 auto;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px white, 0 0 15px white, 0 0 30px red, 0 0 30px red, 0 0 30px red, 0 0 40px deepskyblue, 0 0 50px deepskyblue, 0 0 60px deepskyblue, 0 0 70px red, 0 0 80px red, 0 0 90px red, 0 0 100px red;
}

.label{
    position:relative;
    color:black;
    font-weight:bold;
    font-size: 2vw;
    font-family: serif;
    text-align: center;
    text-shadow:black;
    text-transform: uppercase;
    letter-spacing: 1rem;
    width:100%;
    padding-bottom:5px;
}

.o-wins-val,.games-played-val, .x-wins-val{
    color:white;
    font-family:serif;
    text-align:center;
    display:block;
    margin:auto 0;
    font-size: 2.5vw;
}

#reset-game, #restart-game{
    text-align:center;
    background-color:transparent;
    border:none;
}

