body{
    height: 90vh;
    width:90vw;
}

.stats-container{
    position:relative;
    height:59%;
    width:11%;
    border: 5px solid green;
    float:right;
    no-repeat center center fixed;
    background-size: cover;
    left:186px;
    bottom:391px;
    display:block;


}

.label{
    position:relative;
    color:white;
    font-weight:bold;
    font-size: 35px;
    font-family: serif;
    line-height:200%;
    display:inline;
    margin:auto;
    text-align: center;

}

.o-wins-val,.games-played-val, .x-wins-val{
    color:red;
    font-family:serif;
    text-align:center;
    display:inline;
    font-size:25px;
}

