body{
    height: 100vh;
    width:100vw;
}

.stats-container{
    position:relative;
    height:100%;
    width:20%;
    border: 5px solid green;
    background-image: url('hacktic.jpeg');


}

.label{
    position:relative;
    color:silver;
    font-weight:bold;
    font-size: 30px;
    font-family: "arial", helvetica, sans-serif;
    line-height:200%;
    text-align:center;

}

.o-wins-val,.games-played-val, .x-wins-val{
    color:silver;
}

#reset-game{
    background-color:black;
}
